/* ВТОРОЙ ЭКРАН */

@keyframes ss {
    0% {
        background: url(../img/ss1.png);
        background-size: cover;
    }

    20% {
        background: url(../img/ss2.png);
        background-size: cover;
    }

    40% {
        background: url(../img/ss3.png);
        background-size: cover;
    }

    60% {
        background: url(../img/ss4.png);
        background-size: cover;
    }

    80% {
        background: url(../img/ss5.png);
        background-size: cover;
    }

    100% {
        background: url(../img/ss1.png);
        background-size: cover;
    }
}

/* ЧЕТВЕРТЫЙ ЭКРАН */

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}